Thumb.db
.DS_Store
*.log


/*.php
/*.html
/license.txt
!wp-config.php

/Search-Replace-DB-master/*

/wp-admin
/wp-includes

/wp-content/languages

/wp-content/plugins/admin-bar-position/*
/wp-content/plugins/really-simple-csv-importer/*
/wp-content/plugins/velvet-blues-update-urls/*
/wp-content/plugins/wordpress-seo/*
/wp-content/plugins/wp-multibyte-patch/*
/wp-content/plugins/index.php

/wp-content/themes/twentytwentythree
/wp-content/themes/saitohCon/Thumb.db
/wp-content/themes/saitohCon/.DS_Store
/wp-content/themes/saitohCon/*.log
/wp-content/themes/saitohCon/WaPlusCfg/.sass-cache/*
/wp-content/themes/index.php

/wp-content/upgrade
/wp-content/uploads
/wp-contentindex.php
