@charset "utf-8";

// 
// ***********************************************
// ★ 各種配下ページ、表示設定
// ***********************************************
.mainContents {

  .jyoseiTitle {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2em;
    
    margin: 50px 0 20px 20px;
    // @include mquery( "pc" ) { font-size: 20px; font-weight: bold; margin-left: 50px; }
  }

  @include mquery( "pc" ) {

    // 
    // 各種ページ、詳細記事記述エリア定義
    .detailInfo {

      // border: 2px dashed red;

      .blkInfo {
        // border: 1px solid red;
        width: 90%;
        margin-left: 30px;
      }

      // 地方自治体助成リンクへのタイトル向け設定
      .jyoseiTitle {
        font-size: 20px;
        margin-left: 50px;
      }
    }
  }

  @include mquery( "mb" ) {

    // 
    // 各種ページ、詳細情報記述エリア定義
    .detailInfo {
      width: 95%;
      margin: 50px auto;
      padding: 0;
      // border: none;
      // border: 2px dashed red;

      .infoArea {
        .sBysBlk {
          .blkInfo {
            // border: 1px solid red;
            margin-left : 0;
            margin-right: 0;
            width: 100%;
          }    
        }
      }
    }
  }

  // 
  // ページメイン部分、背景画像設定
  #section-1 {

    // 
    // アニメーション・サイト訪問者への、挨拶バナー
    // ***************************
    .greeting-area { @include style-greetingArea-wrapper(); }

    // 
    // ページ内、工さん画像位置決定用定義
    // 「.imgFrame」用
    position: relative;

    // 
    // 【pallax効果】「rellax」ライブラリ利用、
    //  ■ Mobileデバイス利用時の設定
    .rlxBGBaseArea {
      position: relative;
      overflow: hidden;

      @include mquery( "mb" ) {

        width:  90%;
        margin: 50px auto;

        border: 1px solid #333;
        border-radius: 8px;
          
        .rlxParentElmBG {

          // border: 2px solid blueviolet;       // for DEBUG!
          // background-color: blueviolet;       // for DEBUG!

          .rlxImgFrameH {

            // 
            //【.rlxImgCfgH】画像そのものの大きさに因り、
            //  親要素の高さが決まる！
            // ****************************************

            // border: 2px dashed lime;       // for DEBUG!

            @include style-rlxImgFrame( 0 );

            // 
            // 縦長親領域対応、中心線移動処理
            // 中心部分を、左方向にだけ移動する。
            position: absolute;
            top: -5%;
            left: -5%;
            // left: -100%;

            .rlxImgCfgH {

              // 
              // 背景で動く画像のサイズを決める。
              // 記事の量に因り「親領域が縦長に成る程」、
              // この画像の高さを大きくして埋める必要が有る！
              // height: 350vh;
              height: 450vh;
              width: auto;
            }
          }
        }  
      }
    }


    #detailInfo2 {
      @include mquery( "pc" ) {
        background-image: linear-gradient(90deg,  rgba(255, 255, 255, 0.3 ) 0%,
                                                  rgba(255, 255, 255, 0.4 ) 45%,
                                                  rgba(255, 255, 255, 0.5 ) 70%,
                                                  rgba(255, 255, 255, 0.6 ) 95%,
                                                  rgba(255, 255, 255, 0.7 ) 100% ),
                          linear-gradient(180deg, rgba(255, 255, 255, 0.3 ) 0%,
                                                  rgba(255, 255, 255, 0.4 ) 25%,
                                                  rgba(255, 255, 255, 0.5 ) 50%,
                                                  rgba(255, 255, 255, 0.6 ) 75%,
                                                  rgba(255, 255, 255, 0.7 ) 100% ),
                          url( "../../../../Images/ChkHomeIns/health_1280-1920.jpg" );
      }
      @include mquery( "mb" ) {
        background-image: linear-gradient(90deg,  rgba(255, 255, 255, 0.3 ) 0%,
                                                  rgba(255, 255, 255, 0.4 ) 45%,
                                                  rgba(255, 255, 255, 0.5 ) 70%,
                                                  rgba(255, 255, 255, 0.6 ) 95%,
                                                  rgba(255, 255, 255, 0.7 ) 100% ),
                          linear-gradient(180deg, rgba(255, 255, 255, 0.3 ) 0%,
                                                  rgba(255, 255, 255, 0.4 ) 25%,
                                                  rgba(255, 255, 255, 0.5 ) 50%,
                                                  rgba(255, 255, 255, 0.6 ) 75%,
                                                  rgba(255, 255, 255, 0.7 ) 100% ),
                          url( "../../../../Images/ChkHomeIns/health_500-1920.jpg" );
      }
      background-size:     cover;
      background-position: center;
      background-repeat:   no-repeat;
    }

    .imgFrame {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      .pageCthImage  {
                                                                                                    // 高さ  Y位置
                                  @include style-imageDispPos( "../../../../Images/TAKUMI/TAKUMI-5.JPG", 45vw, 22vh );     // 120% 77vh
        @include mquery( "mb" ) { @include style-imageDispPos( "../../../../Images/TAKUMI/TAKUMI-5.JPG", 15%,  13vh ); }   // 30% 30vh 
        z-index: -1;
  
      }
      overflow: hidden;
      z-index: -1;

      // border: 1px solid red;
    }
  }
}
