@charset "UTF-8";

  // 
  // *******************************************
  // サイドバー内検索ボックス表示用定義
  // *******************************************
  //
  .searchTitle {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .searchFunc {
    margin-top: 20px;
    margin-bottom: 30px;
    background: linear-gradient(to right, rgba(0,255,255,0.3), rgba(0,255,255,0));
    background: linear-gradient(to right, rgba(255,255,0,0.3), rgba(0,255,255,0));
    padding: 5px;
    border: 2px solid #ddd;
    border: 1px solid #333;
    border-radius: 3px;
    box-shadow: -5px 5px 5px rgba(117,106,48,0.7);
  }
  .searchfield {
    font-size: 14px;
    width: 75%;
    margin-right: 3px;
    margin-left: 5px;
    padding: 7px 5px;
    border: 2px solid #ddd;
    border: 1px solid #333;
    border-radius: 3px;
  }
  .searchfield:hover {
    color: white;
    background-color: aquamarine;
  }
  .searchfield:focus {
    color: #333;
    background-color: aquamarine;
  }
  .searchsubmit {
    font-family: FontAwesome;
    font-size: 1.4em;
    padding: 3px;
    cursor: pointer;
    color: white;

    background-color: rgba(70,118,215,0.7);

    border: 1px solid #333;
    border-radius: 3px;
  }
  .searchsubmit:hover {
    opacity: .6;
    color: #333;
    background-color: aquamarine;
  }
